*{
    padding: 0;
    margin: 0;
   background-color: #e7d6d6;
   scroll-behavior: smooth;
}

.gallery{
   
    padding: 10px;
    /* max-width: 110px; */
    margin: 0 auto;
    background-color: #e7d6d6;
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-auto-rows: 250px;
    grid-auto-flow: dense;
}
.gallery img:hover{
    width: 102%;
    transition: .2s ease;
}

.v-stretch{
    grid-row: span 2;
}

.h-stretch{
    grid-column: span 2; 
}

.big-stretch{
    grid-row: span 2;
    grid-column: span 2;  
}
.gallery div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/******Responsive*****/

@media(max-width: 560px)
{
    .v-stretch{
        grid-row: span 1;
    }

    .h-stretch{
        grid-column: span 1;
    }

    .big-stretch{
        grid-column: span 1;
        grid-row: span 1;
    }
}